.my-card{
    position: relative;
    padding: 30px 0px;
    background: linear-gradient(transparent,50%,black),url('https://images.unsplash.com/photo-1540162875225-3f6b56d69fe8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: fit-content;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    border-radius: 4px;
    gap: 20px;
    color: white;
    transition: after 3s ease;
    overflow: hidden;
    transition: transform 500ms ease;

}
.my-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-title::after{
    content: '';
    display: flex;
    flex-direction: row;
    width:200px;
    margin-left: -50px;
    background-color: hsl(142,90%,61%);
    border-radius: 3px;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition:  transform 500ms ease;
}
.my-card:hover .my-title::after{
    transform: scaleX(1);
}
.my-card:hover .content{
   transform: translateY(0);
}
.my-card:hover .my-body{
    opacity: 1;
}
.my-card:hover{
    transform: scale(1.05);
}
.content{
    
    
    transform: translateY(300px);
    transition: transform 500ms ease;
    transition-delay: 500ms;

}
.my-body{
    opacity: 0;
    transition: opacity 1s ease-in;
}
body{
    position: relative;
}
.button{
    display: flex;
    top: 50%;
    position: absolute;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    background-color:#DC3545;
    justify-content: center;
    align-items: center;
    transition: transform 150ms ease;
}
.button:hover{
    background-color: #C82333;
}
.button:active{
    border:none;
    transform: translateY(3px);
}
.waiting{
    margin: 250px 450px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
.anim{
    position: absolute;
    top: 25%;
    left: 42%;
    background-color: #DC3545;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.inside{
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid white;
    left: 44%;
    top: 29%;
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate {

    to{
        transform: rotate(360deg);
    }
}
